{% extends "base.html" %}
{% block content %}
{#    <section class="h-100 gradient-custom-2">#}
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-left h-100">
          <div class="col col-lg-9 col-xl-7">
            <div class="card">
              <div class="rounded-top text-white d-flex flex-row" style="background-color: #D17C00; height:200px;">
                <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                  <img src="/static/profile/default.jpg"
                    alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                    style="width: 150px; z-index: 1">
                  <a type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                    style="z-index: 1;" href="/auth/edit/{{ current_user.id }}">
                    Редактировать
                  </a>
                </div>
                <div class="ms-3" style="margin-top: 130px;">
                  <h5>{{ me.first_name }} {{ me.last_name }}</h5>
                  <p>@{{ me.username }}</p>
                </div>
              </div>
              <div class="p-4 text-black" style="background-color: #f8f9fa;">
                <div class="d-flex justify-content-end text-center py-1">
                    <p><a href="{{ url_for("auth.logout" ) }}">Выйти</a></p>
                </div>
              </div>
              <div class="card-body p-4 text-black">
                <div class="mb-5">
                  <p class="lead fw-normal mb-1">Комментарии</p>
                    {% for comment in comments %}
                  <div class="p-4" style="background-color: #f8f9fa;">
                      <h6><a href="">{{ comment.article.title }}</a></h6>
                        <p class="small">{{ comment.text }}</p>
                  </div>
                    <br>
                    {% endfor %}
                    <div class="p-4" style="background-color: #f8f9fa;">

                  </div>
                </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{#    </section>#}

{% endblock %}