{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <form class="form-group" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="col">
                        <hr>
                        <h3>Статья</h3>
                        <hr>
                        <p>Добавьте статью, вы можете выбрать производителя и локацию из списка, либо создать новые</p>
                    </div>
                    <div class="col">
                        <hr>
                        <h3>Добавить</h3>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <a href="/manufacturer/crud" target="_blank" class="btn btn-primary" >Нового производителя</a>
                                <p>Если его нет в списке</p>
                            </div>
                            <div class="col">
                                <a href="/location/crud" target="_blank" class="btn btn-primary" >Новую локацию</a>
                                <p>Если ее нет в списке</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                    {{ form.title(class="form-control form-control-lg") }}
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            {{ form.locations.label(class="form-control-label") }}
                            {{ form.locations(class="form-select multiple form-control form-control-lg") }}
                         </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            {{ form.manufacturers.label(class="form-control-label") }}
                            {{ form.manufacturers(class="form-select multiple form-control form-control-lg") }}
                         </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}
                    {{ form.content(class="form-control form-control-lg") | safe}}
                </div>
                <div class="form-group">
                     {{ form.rewiew.label(class="form-control-label") }}
                     {{ form.rewiew(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                     {{ form.tags.label(class="form-control-label") }}
                     {{ form.tags(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                     {{ form.pictures.label(class="form-control-label") }}
                     {{ form.pictures(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                     {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='content') }}
        </div>
        <div class="col">
            <hr>
            <h3>Последние публикации</h3>
            <hr>
            {% for post in latest %}
            <div class="card" >
              <div class="card-body">
                <h2><a class="card-title" target="_blank" href="  {{ url_for('blog.blog_post', blog_post_id=post.id) }}">{{ post.title }}</a></h2>
                <p>{{ post.created_at.strftime('%Y-%m-%d') }}</p>
                <p class="card-text">{{ post.review | truncate(200) }}...</p>
{#                <a href="{{ url_for('blog.blog_post', blog_post_id=post.id) }}" class="btn btn-primary">Читать статью</a>#}
              </div>
            </div>
            {% endfor %}
        </div>
        </div>
    </div>
</div>
{% endblock %}