{% extends "base.html" %}

{%block content %}
<div class="container">
    <div class="container"  style="width: 75%">
        <h1>{{ title }}</h1>
        <p>{{ date.strftime('%Y-%m-%d-%H:%M') }}</p>
        {% for loc in post.locations %}
            <span>- {{ loc.name }}, {{ loc.region }} {{ loc.counry }}.</span> <br>
        {% endfor %}
        <hr>
        <br>
        <p>{{ post.contents | safe}}</p>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-wrap="true">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                {% for i in range(1, photo_list|length) %}
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ i }}"></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" style="max-width: 1024px; max-height: 800px; width: 100%; height: 100%; overflow: hidden">
                        <img style="height: 600px; width: 100%;  object-fit: contain;background-color: #000" src="/static/post_photos/{{ photo_list[0] }}" class="d-block w-100" alt="...">
                </div>
                {% for path in photo_list[1:] %}
                    <div class="carousel-item"  style="max-width: 1024px; max-height: 800px; width: 100%; height: 100%; background-color: #000; overflow: hidden">
                        <img style="height: 600px; width: 100%;  object-fit: contain;" src="/static/post_photos/{{ path }}" class="d-block w-100" alt="...">
                    </div>
                {% endfor %}
            </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
        </div>
        <hr style="border: 3px solid #D17C00">
        <div class="row row-cols-1 row-cols-md-2 ">
            {% for man in post.manufacturers %}
                <div class="col">
                    <div class="card h-100 ">
                        <img src="/static/manufacturers_photos/manufacture_icon.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2>{{ man.name }}</h2>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>Производство: </b>{{ man.name }} </li>
                            <li class="list-group-item"><b>Литература: </b>{{ man.literature }}</li>
                            <li class="list-group-item"><b>Дополнительно: </b>{{ man.other }}</li>
                            <li class="list-group-item"><b>Статьи: </b>{% for a in man.articles %} <a href="/article/{{ a.id }}">{{ a.title }}</a> {% endfor %} </li>
                            <li class="list-group-item"><b>Локации: </b> {% for l in man.locations %} <a href="/location/crud">{{ l.name }}</a>,  {% endfor %}</li>
                        </ul>
                        <div class="card-body">
                            <a href="/manufacturer/update/{{ man.id }}" class="btn btn-primary">Редактировать</a>
                            <a href="/manufacturer/delete/{{ man.id }}" class="btn btn-primary">Удалить</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% for loc in post.locations %}
                <div class="col">
                    <div class="card h-100">
                        <img src="/static/map_photos/maP-marker.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2>{{ loc.name }}</h2>
                            <hr style="width: 30%;border: 10px solid {{ loc.color.color_code }}; border-radius: 5px;">
                            <p class="card-text">{{ loc.colors }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>Координаты: </b>{{ loc.lat }}  {{ loc.long }} </li>
                            <li class="list-group-item"><b>Регион: </b>{{ loc.region }}</li>
                            <li class="list-group-item"><b>Район: </b>{{ loc.district }}</li>
                            <li class="list-group-item"><b>Страна: </b>{{ loc.country }}</li>
                            <li class="list-group-item"><b>Производители: </b> {% for m in loc.manufacturers %} <a href="/manufacturer/crud">{{ m.name }} </a>   {% endfor %}</li>
                            <li class="list-group-item"><b>Статьи: </b>{% for a in loc.articles %} <a href="/article/{{ a.id }}">{{ a.title }} </a> {% endfor %} </li>
                        </ul>
                        <div class="card-body">
                            <a href="/location/update/{{ loc.id }}" class="btn btn-primary">Редактировать</a>
                            <a href="/location/delete/{{ loc.id }}" class="btn btn-primary">Удалить</a>
                            <a href="/map/show/{{ loc.id }}" class="btn btn-primary">Показать на карте</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <hr style="border: 3px solid #D17C00">
    <h3>Комментарии</h3>
    <hr>
    {% if current_user.is_authenticated %}
        <section style="background-color: #D17C00;">
            <div class="container my-5 py-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12 col-lg-10 col-xl-8">
                        <div class="card">
                            <div class="card-body">
                                <p class="mt-3 mb-4 pb-2">
                                    Оставляя комментарий, будьте вежливы и соблюдайте принципы сообщества. Обсудить эту и другие темы
                                    вы можете в нашем телеграмм канале.
                                </p>
                            </div>
                            <form method="POST">
                                <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                                    <div class="d-flex flex-start w-100">
                                        <img class="rounded-circle shadow-1-strong me-3"
                                         src="/static/profile/default.jpg" alt="avatar" width="40"
                                         height="40" />
                                        <div class="form-group w-100">
                                            {{ form.hidden_tag() }}
                                            {{ form.text(class="form-control") }}
                                            {{ form.text.label(class="") }}
                                        </div>
                                    </div>
                                    <div class="float-end form-group mt-2 pt-1">
                                        {{ form.submit(type="submit", class="btn btn-primary btn-sm ") }}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <p>Войдите на сайт, чтобы оставлять комментарии.</p>
    {% endif %}
    <section style="background-color: #D17C00;">
        {% for comment in comments %}
        <div class="container my-1 py-3 text-dark">
            <div class="row d-flex justify-content-center">
                <div class="col-md-11 col-lg-9 col-xl-7">
                    <div class="d-flex flex-start mb-4">
                        <img class="rounded-circle shadow-1-strong me-3"
                             src="/static/profile/default.jpg" alt="avatar" width="65"
                             height="65" />
                        <div class="card w-100">
                            <div class="card-body p-4">
                                <div class="">
                                        <h5>{{ comment.author.username }}</h5>
                                    <p class="small">{{ comment.author.first_name }} {{ comment.author.last_name }}</p>
                                    <p class="small">{{ comment.created_at.strftime('%Y-%m-%d-%H-%M') }}</p>
                                    <p>
                                        {{ comment.text }}
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a href="{{ url_for('blog.blog_post', reply_to=comment.id, blog_post_id=post.id) }}" class="link-muted"><i class="fas fa-reply me-1"></i> Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}
    <nav aria-label="Page navigation example" style="padding-bottom: 2%">
     <ul class="pagination justify-content-center">
       {% for page_num in comments.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=3) %}
          {% if comments.page == page_num %}
          <li class="page-item disabled">
            <a class="page-link" href="{{ url_for('blog.list_articles', page=page_num) }}">{{ page_num }}</a></li>
          </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('blog.blog_post', blog_post_id = post.id, page=page_num) }}">{{ page_num }}</a>
            </li>
          {% endif %}
        {% endfor %}
       </ul>
    </nav>
    </section>
</div>
{% endblock %}